
body{
    background-color: antiquewhite;
}
.reginput{
    width: 500px;
    background-color:rgba(0,0,0,0.3);
    margin: 300px auto;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
}

h3{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}
.btn{
    margin: 20px;
    text-align: center;
    background-color: beige;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    
}
.input input{

    padding: 5px;
    text-align: center;
}



