body{
    background-image: url("R.jpeg");
 
}
.reginput{
    width: 500px;
    background-color:rgba(0,0,0,0.3);
    margin: 300px auto;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
}
.input label{
    display: block;
}
h3{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}
.btn{
    margin: 20px;
    text-align: center;
    
}
.inpt input{
    width: 100%;
    font-size: 1.2em;
    margin :10px 0px 0px 20px;
    padding:40;
}