#body{
    background-color: #bde0fe;
}
#html{
    height: fit-content;
}

.reginput{
    width: 500px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin: 100px auto;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    background-color: #a2d2ff;
}
.input label{
    display: block;
}
h3{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}
.btn{
    margin: 20px;
    text-align: center;
    
}
.inpt input{
    width: 100%;
    font-size: 1.2em;
    margin :10px 0px 0px 20px;
    padding:40;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 200px; */
    flex-direction:column;
    width: fit-content;
    margin-left: 100px;
    height: fit-content;
}